.cardLayout {
    text-align: center;
    margin-top: 20px;
    margin-bottom: 20px;
}

.pHeight {
    line-height: 30px;
}

.btnMarginTop {
    margin-top: 20px;
}

.error {
    color: red;
}

.btnMarginBottom {
    margin-bottom: 20px;
}

